<h1><%= __('Settings') %></h1>
<code>Voeg nieuwe compagnies en pelotons toe of pas formules en score-berekeningen aan.</code>
<hr class="mb-4" />

<div class="row mb-big">
    <div class="col-sm" onclick="location.href = '/admin/companies'">
        <div class="img-company">
            <div class="cover-white">
                <div class="mb-4 d-flex">
                    <h2><%= __('Companies') %></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm" onclick="location.href = '/admin/platoons'">
        <div class="img-platoon">
            <div class="cover-white">
                <div class="mb-4 d-flex">
                    <h2><%= __('Platoons') %></h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-big">
    <div class="col-sm" onclick="location.href = '/admin/score'">
        <div class="img-score">
            <div class="cover-white">
                <div class="mb-4 d-flex">
                    <h2><%= __('Scores') %></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="col-sm" onclick="location.href = '/admin/formulas'">
            <div class="img-formula">
                <div class="cover-white">
                    <div class="mb-4 d-flex">
                        <h2><%= __('Formulas') %></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
