<h1><%= __('Edit formula') %></h1>
<hr class="mb-5">

<form method="post" action="/admin/formulas/update/<%= formula.id %>">

    <div class="form-group">
        <label for="field"><%= __('Field') %></label>
        <div class="tooltip-icon" data-toggle="tooltip" data-placement="right" title="<%= __('info:formulas:field') %>"></div>
        <select name="field" id="field" class="form-control" required>
            <option value="bmi"><%= __('BMI') %></option>
            <option value="coreStability"><%= __('Core Stability') %></option>
        </select>
    </div>

    <div class="form-group">
        <label for="formula"><%= __('Formula') %></label>
        <div class="tooltip-icon" data-toggle="tooltip" data-placement="right" title="<%= __('info:formulas:formula') %>"></div>
        <input type="text" name="formula" class="form-control" value="<%= formula.formula %>" required/>
    </div>

    <input type="submit" value="<%= __('Save') %>" class="btn btn-primary" />

</form>
