<h1 class="display-4"><%= __('Formulas') %></h1>
<a href="/admin/formulas/add" class="btn btn-success mb-4"><%= __('New formula') %></a>

<table class="table table-striped">
    <thead>
        <tr>
            <th><%= __('Field') %></th>
            <th><%= __('Formula') %></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% formulas.forEach(formula => { %>

            <tr>
                <td><%= formula.field %></td>
                <td><%= formula.formula %></td>
                <td>
                    <a href="/admin/formulas/edit/<%= formula.id %>" class="btn btn-primary"><%= __('Edit') %></a>
                    <form class="d-inline" action="/formulas/delete" method="post">
                        <input type="hidden" name="id" value="<%= formula.id%>">
                        <input type="submit" value="<%= __('Delete') %>" class="btn btn-danger" />
                    </form>
                </td>
            </tr>

        <% }) %>
    </tbody>
</table>
