<h1>Resultaten van <%= anatomy.name%></h1>
<code>ID: <%= anatomy.id%></code>
<hr class="mb-4">

<div class="row">
    <div class="col-sm">
        <div class="mb-4 d-flex">
            <h2>Lichaam</h2>
            <h2 class="ml-auto"><a href="/anatomies/edit/<%= anatomy.id %>" class="btn btn-primary">Bewerken</a></h2>
        </div>

        <table class="table table-striped">
            <tr>
                <td>Naam</td>
                <td><%= anatomy.name %></td>
            </tr>
            <tr>
                <td>Lengte</td>
                <td><%= anatomy.height %></td>
            </tr>
            <tr>
                <td>Gewicht</td>
                <td><%= anatomy.weight %></td>
            </tr>
            <tr>
                <td>BMI</td>
                <td><%= anatomy.bmi %></td>
            </tr>
            <tr>
                <td>Vetpercentage</td>
                <td><%= anatomy.fat %></td>
            </tr>
        </table>
    </div>
    <div class="col-sm">
        <% if (strength) {%>
            <div class="mb-4 d-flex">
                <h2>Krachttraining</h2>
                <h2 class="ml-auto"><a href="/strength/edit/<%= strength.id %>" class="btn btn-primary">Bewerken</a></h2>
            </div>
            <table class="table table-striped">
                <tr>
                    <td>Shoulder Press herhalingen</td>
                    <td><%= strength.shoulderPressReps %></td>
                </tr>
                <tr>
                    <td>Shoulder Press KG</td>
                    <td><%= strength.shoulderPressWeight %></td>
                </tr>
                <tr>
                    <td>Squat herhalingen</td>
                    <td><%= strength.squatReps %></td>
                </tr>
                <tr>
                    <td>Squat KG</td>
                    <td><%= strength.squatWeight %></td>
                </tr>
                <tr>
                    <td>Pull Up herhalingen</td>
                    <td><%= strength.pullUpReps %></td>
                </tr>
                <tr>
                    <td>Stabiliteit</td>
                    <td><%= strength.coreStability %></td>
                </tr>
            </table>
        <% } else { %>
            <div class="mb-4 d-flex">
                <h2>Krachttraining</h2>
                <h2 class="ml-auto"><a href="/strength/add/<%= anatomy.id %>" class="btn btn-primary">Toevoegen</a></h2>
            </div>
        <% } %>
    </div>
</div>
