<h1><%= __('Results of') %> <b><%= anatomy.firstName + ' ' + anatomy.lastName%></b></h1>
<code><%= __('Peoplesoft ID') %>: <%= anatomy.peoplesoft%></code>
<hr class="mb-4">

<div class="row mb-4">
    <div class="col-sm">
        <div class="mb-4 d-flex">
            <h2><%= __('Persona') %></h2>
            <h2 class="ml-auto"><a href="/anatomies/edit/<%= anatomy.id %>" class="btn btn-primary"><%= __('Edit') %></a></h2>
        </div>

        <table class="table table-striped">
            <tr>
                <td><%= __('Name') %></td>
                <td><%= anatomy.firstName + ' ' + anatomy.lastName %></td>
            </tr>
            <tr>
                <td><%= __('Unit') %></td>
                <td><%= anatomy.unit %></td>
            </tr>
            <tr>
                <td><%= __('Platoon') %></td>
                <td><%= anatomy.platoon.name %></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><%= __('Length') %></td>
                <td><%= anatomy.height %> cm</td>
            </tr>
            <tr>
                <td><%= __('Weight') %></td>
                <td><%= anatomy.weight %> kg</td>
            </tr>
            <tr>
                <td><%= __('BMI') %></td>
                <td><%= anatomy.bmi %></td>
            </tr>
            <tr>
                <td><%= __('Fat (in %)') %></td>
                <td><%= anatomy.fat %>%</td>
            </tr>
        </table>
    </div>
    <div class="col-sm">
        <h2 class="mb-4"><%= __('Overview') %></h2>
        <br/>
        <canvas id="chart" class="chart"></canvas>
    </div>
</div>
<div class="row mb-4">
    <div class="col-sm">
        <% if (agility) {%>
            <div class="mb-4 d-flex">
                <h2><%= __('Agility') %></h2>
                <h2 class="ml-auto"><a href="/agility/edit/<%= agility.id %>" class="btn btn-primary"><%= __('Edit') %></a></h2>
            </div>
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th><%= __('1st run') %></th>
                    <th><%= __('2nd run') %></th>
                    <th><%= __('Total') %></th>
                    <th><%= __('Total height') %></th>
                    <th><%= __('Score') %></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><%= __('Sprint') %></td>
                    <td><%= agility.sprint1 %></td>
                    <td><%= agility.sprint2 %></td>
                    <td><%= (agility.sprint1 + agility.sprint2).toFixed(2) %></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><%= __('Agility test') %></td>
                    <td><%= agility.agility1 %></td>
                    <td><%= agility.agility2 %></td>
                    <td><%= (agility.agility1 + agility.agility2).toFixed(2) %></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><%= __('Jump test') %></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><%= agility.jumpHeight %></td>
                    <td></td>
                </tr>
                <tr>
                    <td><%= __('2600m loop') %></td>
                    <td><%= agility.run %></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        <% } else { %>
            <div class="mb-4 d-flex">
                <h2><%= __('Agility') %></h2>
                <h2 class="ml-auto"><a href="/agility/add/<%= anatomy.id %>" class="btn btn-primary"><%= __('Add') %></a></h2>
            </div>
        <% } %>
    </div>
    <div class="col-sm">
        <% if (strength) {%>
            <div class="mb-4 d-flex">
                <h2><%= __('Strength') %></h2>
                <h2 class="ml-auto"><a href="/strength/edit/<%= strength.id %>" class="btn btn-primary"><%= __('Edit') %></a></h2>
            </div>
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th><%= __('Reps') %></th>
                    <th><%= __('KG') %></th>
                    <th><%= __('Result') %></th>
                    <th><%= __('Score') %></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><%= __('Shoulder press') %></td>
                    <td><%= strength.shoulderPressReps %></td>
                    <td><%= strength.shoulderPressWeight %></td>
                    <td><%= strength.shoulderPressReps * strength.shoulderPressWeight %></td>
                    <td><%= strength.shoulderPressScore %></td>
                </tr>
                <tr>
                    <td><%= __('Squats') %></td>
                    <td><%= strength.squatReps %></td>
                    <td><%= strength.squatWeight %></td>
                    <td><%= strength.squatReps * strength.squatWeight %></td>
                    <td><%= strength.squatScore %></td>
                </tr>
                <tr>
                    <td><%= __('Pull ups') %></td>
                    <td><%= strength.pullUpReps %></td>
                    <td></td>
                    <td></td>
                    <td><%= strength.pullUpScore %></td>
                </tr>
                <tr>
                    <td><%= __('Core Stability') %></td>
                    <td></td>
                    <td></td>
                    <td><%= strength.coreStability %></td>
                    <td><%= strength.coreStabilityScore %></td>
                </tr>
                </tbody>
            </table>
        <% } else { %>
            <div class="mb-4 d-flex">
                <h2><%= __('Strength') %></h2>
                <h2 class="ml-auto"><a href="/strength/add/<%= anatomy.id %>" class="btn btn-primary"><%= __('Add') %></a></h2>
            </div>
        <% } %>
    </div>
</div>

<script>
  window.addEventListener('load', (event) => {
    createRadarChart('chart',
      ['Vet %', 'Military Strength', 'Speed & Agility', 'Core Stability', 'Endurance'],
      [
          <%= anatomy.fat / 10 %>,
        3,
        2,
          <%= strength.coreStability %>,
        2
      ],
      '<%= anatomy.platoon.name %>'
    );
  });
</script>
