<h1 class="display-4"><%= __('Platoons') %></h1>
<table class="table table-striped">
    <% platoons.forEach(platoon => { %>

        <tr>
            <td><%= platoon.name %></td>
            <td>
                <a href="/platoon/<%= platoon.id %>" class="btn btn-primary"><%= __('Overview') %></a>
                <a href="/platoon/<%= platoon.id %>/units" class="btn btn-primary"><%= __('Units') %></a>
            </td>
        </tr>

    <% }) %>
</table>
