<h1><%= __('Results of') %> <b><%= platoon.name %></b></h1>
<hr class="mb-4">

<div class="row">
    <div class="col-sm">
        <canvas id="chart" width="100" height="100"></canvas>
    </div>
    <div class="col-sm">

    </div>
</div>


<script>
    window.addEventListener('load', (event) => {
      createRadarChart('chart',
        ['Vet %', 'Military Strength', 'Speed & Agility', 'Core Stability', 'Endurance'],
        [
            <%= (averages.fat / 10).toFixed(2) %>,
            3,
            2,
            <%= (averages.coreStability).toFixed(2) %>,
            2
        ],
        '<%= platoon.name %>'
      );
    });
</script>

<%= averages.fat %>
<%= averages.coreStability %>
