<h1><%= __('New result') %></h1>
<hr class="mb-5">

<form method="post" action="/anatomies/create" class="mb-5">

    <h2 class="mt-5"><%= __('Persona') %></h2>
    <hr/>

    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label for="firstName"><%= __('First name') %></label>
                <input type="text" name="firstName" class="form-control" required/>
            </div>

            <div class="form-group">
                <label for="unit"><%= __('Unit') %></label>
                <input type="text" name="unit" class="form-control" required/>
            </div>

            <div class="form-group">
                <label for="peoplesoft"><%= __('Peoplesoft ID') %></label>
                <input type="text" name="peoplesoft" class="form-control" required/>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label for="lastName"><%= __('Last name') %></label>
                <input type="text" name="lastName" class="form-control" required/>
            </div>

            <div class="form-group">
                <label for="platoon"><%= __('Platoon') %></label>
                <input type="text" name="platoon" class="form-control" required/>
            </div>
        </div>
    </div>

    <h2 class="mt-5"><%= __('Body') %></h2>
    <hr/>

    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label for="height"><%= __('Length (in cm)') %></label>
                <input type="number" name="height" class="form-control" step="0.01" id="height" required/>
            </div>

            <div class="form-group">
                <label for="fat"><%= __('Fat (in %)') %></label>
                <input type="number" name="fat" class="form-control" step="0.01" required/>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label for="weight"><%= __('Weight (in kg)') %></label>
                <input type="number" name="weight" class="form-control" step="0.01" id="weight" required/>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label for="bmi"><%= __('BMI') %></label>
                <div class="tooltip-icon" data-toggle="tooltip" data-placement="right" title="<%= __('info:formulas:readonly') %>"></div>
                <input type="number" name="bmi" class="form-control" step="0.01" id="bmi" readonly />
            </div>
        </div>
    </div>

    <input type="submit" value="<%= __('Save') %>" class="btn btn-primary" />

</form>
