<h1>Bewerk [<%= anatomy.firstName + ' ' + anatomy.lastName %>]</h1>
<code>Peoplesoft ID: <%= anatomy.peoplesoft%></code>
<hr class="mb-5">

<form method="post" action="/anatomies/update/<%= anatomy.id %>">
    <div class="form-group">
        <label for="firstName">Voornaam</label>
        <input type="text" name="firstName" class="form-control" value="<%= anatomy.firstName %>" />
    </div>

    <div class="form-group">
        <label for="lastName">Achternaam</label>
        <input type="text" name="lastName" class="form-control" value="<%= anatomy.lastName %>" />
    </div>

    <div class="form-group">
        <label for="unit">Eenheid</label>
        <input type="text" name="unit" class="form-control" value="<%= anatomy.unit %>" />
    </div>

    <div class="form-group">
        <label for="platoon">Peloton</label>
        <input type="text" name="platoon" class="form-control" value="<%= anatomy.platoon %>" />
    </div>

    <div class="form-group">
        <label for="peoplesoft">Peoplesoft nummer</label>
        <input type="text" name="peoplesoft" class="form-control" value="<%= anatomy.peoplesoft %>" />
    </div>

    <hr/>

    <div class="form-group">
        <label for="height">Lengte (in cm)</label>
        <input type="number" name="height" class="form-control" step="0.01" id="height" value="<%= anatomy.height %>" />
    </div>

    <div class="form-group">
        <label for="weight">Gewicht (in kg)</label>
        <input type="number" name="weight" class="form-control" step="0.01" id="weight" value="<%= anatomy.weight %>" />
    </div>

    <div class="form-group">
        <label for="bmi">BMI</label>
        <input type="number" name="bmi" class="form-control" step="0.01" id="bmi" value="<%= anatomy.bmi %>" readonly />
    </div>

    <div class="form-group">
        <label for="fat">Vetpercentage</label>
        <input type="number" name="fat" class="form-control" step="0.01" value="<%= anatomy.fat %>" />
    </div>

    <input type="submit" value="Opslaan" class="btn btn-primary" />

</form>
