<h1><%= __('Edit') %> <b><%= anatomy.firstName + ' ' + anatomy.lastName %></b></h1>
<code><%= __('Peoplesoft ID') %>: <%= anatomy.peoplesoft%></code>
<hr class="mb-5">

<form method="post" action="/anatomies/update/<%= anatomy.id %>" class="mb-5">

    <h2 class="mt-5"><%= __('Persona') %></h2>
    <hr/>
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label for="firstName"><%= __('First name') %></label>
                <input type="text" name="firstName" class="form-control" value="<%= anatomy.firstName %>" required/>
            </div>

            <div class="form-group">
                <label for="unit"><%= __('Unit') %></label>
                <input type="text" name="unit" class="form-control" value="<%= anatomy.unit %>" required/>
            </div>

            <div class="form-group">
                <label for="peoplesoft"><%= __('Peoplesoft ID') %></label>
                <input type="text" name="peoplesoft" class="form-control" value="<%= anatomy.peoplesoft %>" required/>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label for="lastName"><%= __('Last name') %></label>
                <input type="text" name="lastName" class="form-control" value="<%= anatomy.lastName %>" required/>
            </div>

            <div class="form-group">
                <label for="platoon"><%= __('Platoon') %></label>
                <div class="tooltip-icon" data-toggle="tooltip" data-placement="right" title="<%= __('info:anatomy:platoon') %>"></div>
                <input type="text" name="platoon" id="platoon" list="platoons" class="form-control" value="<%= anatomy.platoon.name %>" required/>
                <datalist id="platoons">
                    <% for (let i = 0; i < platoons.length; i ++) { %>
                        <option value="<%= platoons[i].name %>"></option>
                    <% } %>
                </datalist>
            </div>
        </div>
    </div>

    <h2 class="mt-5"><%= __('Body') %></h2>
    <hr/>

    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label for="height"><%= __('Length (in cm)') %></label>
                <input type="number" name="height" class="form-control" step="0.01" id="height" value="<%= anatomy.height %>" required/>
            </div>

            <div class="form-group">
                <label for="fat"><%= __('Fat (in %)') %></label>
                <input type="number" name="fat" class="form-control" step="0.01" value="<%= anatomy.fat %>" required/>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label for="weight"><%= __('Weight (in kg)') %></label>
                <input type="number" name="weight" class="form-control" step="0.01" id="weight" value="<%= anatomy.weight %>" required/>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label for="bmi"><%= __('BMI') %></label>
                <input type="number" name="bmi" class="form-control" step="0.01" id="bmi" value="<%= anatomy.bmi %>" readonly />
            </div>
        </div>
    </div>

    <input type="submit" value="<%= __('Save') %>" class="btn btn-primary" />

</form>
