<h1 class="display-4"><%= __('Results') %></h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th><%= __('Name') %></th>
            <th><%= __('Platoon') %></th>
            <th><%= __('Length') %></th>
            <th><%= __('Weight') %></th>
            <th><%= __('BMI') %></th>
            <th><%= __('Fat (in %)') %></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% anatomies.forEach(anatomy => { %>

            <tr>
                <td><%= anatomy.firstName + ' ' + anatomy.lastName %></td>
                <td><%= anatomy.platoon %></td>
                <td><%= anatomy.height %></td>
                <td><%= anatomy.weight %></td>
                <td><%= anatomy.bmi %></td>
                <td><%= anatomy.fat %></td>
                <td>
                    <a href="/result/<%= anatomy.id %>" class="btn btn-primary"><%= __('View') %></a>
                    <form class="d-inline" action="/results/delete" method="post">
                        <input type="hidden" name="id" value="<%= anatomy.id %>">
                        <input type="submit" value="<%= __('Delete') %>" class="btn btn-danger" />
                    </form>
                </td>
            </tr>

        <% }) %>
    </tbody>
</table>
