<h1><%= __('Edit company') %></h1>
<hr class="mb-5">

<form method="post" action="/admin/companies/update/<%= company.id %>">

    <div class="form-group">
        <label for="name"><%= __('Name') %></label>
        <input type="text" name="name" id="name" class="form-control" value="<%= company.name %>" required />
    </div>

    <input type="submit" value="<%= __('Save') %>" class="btn btn-primary" />

</form>
