<h1><%= __('Strength results of') %> <b><%= anatomy.firstName + ' ' + anatomy.lastName%></b></h1>
<code><%= __('Peoplesoft ID') %>: <%= anatomy.peoplesoft%></code>
<hr class="mb-5">

<form method="post" action="/strength/create" class="mb-5">
    <input type="hidden" value="<%= anatomy.id %>" name="anatomyId" />

    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label for="shoulderPressReps"><%= __('Shoulder press repetitions') %></label>
                <input type="number" name="shoulderPressReps" class="form-control" step="0.01" id="shoulderPressReps" />
            </div>

            <div class="form-group">
                <label for="squatReps"><%= __('Squat repetitions') %></label>
                <input type="number" name="squatReps" class="form-control" step="0.01" id="squatReps" />
            </div>

            <div class="form-group">
                <label for="pullUpReps"><%= __('Pull up repetitions') %></label>
                <input type="number" name="pullUpReps" class="form-control" step="0.01" id="pullUpReps" />
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label for="shoulderPressWeight"><%= __('Shoulder press weight') %></label>
                <input type="number" name="shoulderPressWeight" class="form-control" step="0.01" id="shoulderPressWeight" />
            </div>

            <div class="form-group">
                <label for="squatWeight"><%= __('Squat weight') %></label>
                <input type="number" name="squatWeight" class="form-control" step="0.01" id="squatWeight" />
            </div>

            <div class="form-group">
                <label for="coreStability"><%= __('Core Stability') %></label>
                <input type="number" name="coreStability" class="form-control" step="0.01" id="coreStability" />
            </div>
        </div>
    </div>

    <input type="submit" value="<%= __('Save') %>" class="btn btn-primary" />

</form>
