<form method="post" action="/score/create">

    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label for="field"><%= __('Field') %></label>
                <div class="tooltip-icon" data-toggle="tooltip" data-placement="right" title="<%= __('info:score:field') %>"></div>
                <select name="field" id="field" class="form-control" onchange="tooltip()" required>
                    <option value="sprint"><%= __('Sprint') %></option>
                    <option value="agility"><%= __('Agility') %></option>
                    <option value="jump"><%= __('Jump test') %></option>
                    <option value="run"><%= __('2600m loop') %></option>
                    <option value="shoulderPress"><%= __('Shoulder press') %></option>
                    <option value="squats"><%= __('Squats') %></option>
                    <option value="pullUp"><%= __('Pull Up') %></option>
                    <option value="coreStability"><%= __('Core Stability') %></option>
                </select>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label for="formula"><%= __('Maximum amount') %></label>
                <div class="tooltip-icon" id="tooltip" data-toggle="tooltip" data-placement="right" title="<%= __('info:score:max') %>"></div>
                <input type="number" name="max" class="form-control" id="max" required/>
                <span id="extra-info"></span>
            </div>
        </div>
    </div>

    <input type="submit" value="<%= __('Save') %>" class="btn btn-primary" />

</form>

<script>
    const tooltip = () => {
      const value = document.getElementById('field').value;
      let string = '';

      if (value === 'run') { string = '<%= __('in seconds') %>' }

      document.getElementById('extra-info').innerText = string;
    };

    tooltip();
</script>
