<h1 class="display-4"><%= __('Companies') %></h1>
<table class="table table-striped">
    <% companies.forEach(company => { %>

        <tr>
            <td><%= company.name %></td>
            <td>
                <a href="/companies/<%= company.id %>" class="btn btn-primary"><%= __('Overview') %></a>
                <a href="/companies/<%= company.id %>/platoons" class="btn btn-primary"><%= __('Platoons') %></a>
            </td>
        </tr>

    <% }) %>
</table>
