<h1 class="display-4">Algemene Militaire Fitheid</h1>
<code>Beheer AMF testresultaten</code>
<hr class="mb-4"/>

<div class="row mb-big">
    <div class="col-sm" onclick="location.href = '/companies'">
        <div class="img-company">
            <div class="cover-white">
                <div class="mb-4 d-flex">
                    <h2><%= __('Companies') %></h2>
                    <h2 class="ml-auto"><a href="/company/add" class="btn btn-primary"><%= __('New Company') %></a></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm" onclick="location.href = '/results'">
        <div class="img-results">
            <div class="cover-white">
                <div class="mb-4 d-flex">
                    <h2><%= __('Results') %></h2>
                    <h2 class="ml-auto"><a href="/anatomies/add" class="btn btn-primary"><%= __('New Result') %></a></h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-big">
    <div class="col-sm" onclick="location.href = '/companies'">
        <div class="img-company">
            <div class="cover-white">
                <div class="mb-4 d-flex">
                    <h2><%= __('Companies') %></h2>
                    <h2 class="ml-auto"><a href="/company/add" class="btn btn-primary"><%= __('New Company') %></a></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm" onclick="location.href = '/results'">
        <div class="img-results">
            <div class="cover-white">
                <div class="mb-4 d-flex">
                    <h2><%= __('Results') %></h2>
                    <h2 class="ml-auto"><a href="/anatomies/add" class="btn btn-primary"><%= __('New Result') %></a></h2>
                </div>
            </div>
        </div>
    </div>
</div>
